# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebooks
.ipynb_checkpoints

# VSCode
.vscode/

# IntelliJ IDEA
.idea/

# macOS
.DS_Store

# Data files
data/*.csv